# Important: themekit downloads files with lf line endings while github action uses crlf by default.
# Without this file it would create merge conflicts in our continuous integration process
* text=auto eol=lf